<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p v-html="message"></p>
    <h2>--------------我是分割线---------------</h2>
    <label for="r1">样式绑定</label><input type="checkbox" v-model="use" id="r1">
    <br><br>
    <div v-bind:class="{'cc': use}">
      样式
    </div>
    {{tar ?  'Yes' : 'No'}} <br>
    {{message.split('')}}<br>
    <div :id="'list-'+id">动态id,class</div>
    <p v-if="seen">yyy</p>
    <button @click="akit">测试用</button>

    <ul>
      <Li v-for="site in sites">
        {{site.name}}
      </Li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: ' It me',
      message:'JOHN',
      use:false,
      id:'1',
      tar:true,
        seen:false,
      sites:[
          {name:'ee'},
          {name:'ee'},
          {name:'ee'}
      ]
    }
  },
    methods:{
  	  akit:function(){
  	      console.log(this.message);
  	  }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  float: left;
  width: 100%;
}
a {
  color: #42b983;
}
  .cc{
    color: #ff0000;
  }
</style>
